[submodule "lib/libmlx42"]
	path = lib/libmlx42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "lib/libFT"]
	path = lib/libFT
	url = https://github.com/jensbouma/Codam-LibFT.git
[submodule "lib/libglfw"]
	path = lib/libglfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/libglfw3"]
	path = lib/libglfw3
	url = https://github.com/glfw/glfw.git
